/* BollyWars grid placement rules================================================================= */

#bollywars-mechanics {
  grid-column: 2/12;
  grid-row: 4;
}
#bollywars-fts {
  grid-column: 1/5;
  grid-row: 5;
}
#bollywars-catapult {
  grid-column: 5/9;
  grid-row: 5;
}
#bollywars-anglespeed {
  grid-column: 9/13;
  grid-row: 5;
}
#bollywars-gameplay-conclusion {
  grid-column: 2/12;
  grid-row: 6;
}

#bollywars-theme {
  grid-column: 2/12;
  grid-row: 7;
}
#bollywars-character-prem {
  grid-column: 1/7;
  grid-row: 8;
}
#bollywars-character-babuji {
  grid-column: 7/13;
  grid-row: 8;
}
#bollywars-character-rohit {
  grid-column: 1/7;
  grid-row: 9;
}
#bollywars-character-monjulika {
  grid-column: 7/13;
  grid-row: 9;
}
#bollywars-theme-conclusion {
  grid-column: 2/12;
  grid-row: 10;
}
#bollywars-character-finalprem {
  grid-column: 1/7;
  grid-row: 11;
}
#bollywars-character-finalbabuji {
  grid-column: 7/13;
  grid-row: 11;
}

/* flow */
#bollywars-complete-flow{
  grid-column: 1/13;
  grid-row: 12;
}
#bollywars-flow-img-1 {
  grid-column: 1/4;
  grid-row: 13;
}
#bollywars-flow-img-2 {
  grid-column: 4/7;
  grid-row: 13;
}
#bollywars-flow-img-3 {
  grid-column: 7/10;
  grid-row: 13;
}
#bollywars-flow-img-4 {
  grid-column: 10/13;
  grid-row: 13;
}
#bollywars-complete-flow-end {
  grid-column: 1/13;
  grid-row: 14;
}

/* team */
#bollywars-team {
  grid-column: 2/12;
  grid-row: 15;
}

/* links to other projects */
#more-projects {
  grid-column: 2/12;
  grid-row: 16;
}
#more-kapow-v1 {
  grid-column: 2/7;
  grid-row: 17;
}
#more-zeta-lta {
  grid-column: 7/12;
  grid-row: 17;
}

/* mobile layout rules */
@media (max-width: 640px) {
  #bollywars-mechanics {
    grid-column: 1/7;
    grid-row: 4;
  }
  #bollywars-fts {
    grid-column: 1/7;
    grid-row: 5;
  }
  #bollywars-catapult {
    grid-column: 1/7;
    grid-row: 6;
  }
  #bollywars-anglespeed {
    grid-column: 1/7;
    grid-row: 7;
  }
  #bollywars-gameplay-conclusion {
    grid-column: 1/7;
    grid-row: 8;
  }

  #bollywars-theme {
    grid-column: 1/7;
    grid-row: 9;
  }
  #bollywars-character-prem {
    grid-column: 1/7;
    grid-row: 10;
  }
  #bollywars-character-babuji {
    grid-column: 1/7;
    grid-row: 11;
  }
  #bollywars-character-rohit {
    grid-column: 1/7;
    grid-row: 12;
  }
  #bollywars-character-monjulika {
    grid-column: 1/7;
    grid-row: 13;
  }
  #bollywars-theme-conclusion {
    grid-column: 1/7;
    grid-row: 14;
  }
  #bollywars-character-finalprem {
    grid-column: 1/7;
    grid-row: 15;
  }
  #bollywars-character-finalbabuji {
    grid-column: 1/7;
    grid-row: 16;
  }
  /* flow */
  #bollywars-complete-flow{
    grid-column: 1/7;
    grid-row: 17;
  }
  #bollywars-flow-img-1 {
    grid-column: 1/7;
    grid-row: 18;
  }
  #bollywars-flow-img-2 {
    grid-column: 1/7;
    grid-row: 19;
  }
  #bollywars-flow-img-3 {
    grid-column: 1/7;
    grid-row: 20;
  }
  #bollywars-flow-img-4 {
    grid-column: 1/7;
    grid-row: 21;
  }
  #bollywars-complete-flow-end {
    grid-column: 1/7;
    grid-row: 22;
  }

  /* team */
  #bollywars-team {
    grid-column: 1/7;
    grid-row: 23;
  }

  /* links to other projects */
  #more-projects {
    grid-column: 1/7;
    grid-row: 24;
  }
  #more-kapow-v1 {
    grid-column: 1/7;
    grid-row: 25;
  }
  #more-zeta-lta {
    grid-column: 1/7;
    grid-row: 26;
  }

}
