/* project home grid placement rules */
#personal-intro {
  grid-column: 1/13;
  grid-row: 1;
  margin: 7.5em 0 3em;
}

#header-best-work {
  position: relative;
  top: 0.5em;
  grid-column: 1/13;
  grid-row: 2;
}

/* main projects */
#kapow-v1 {
  grid-column: 1/7;
  grid-row: 3;
}
#zeta-lta {
  grid-column: 7/13;
  grid-row: 3;
}

#zeta-spotlight {
  grid-column: 1/5;
  grid-row: 4;
}
#kapow-tournaments {
  grid-column: 5/9;
  grid-row: 4;
}
#kapow-bolly-wars {
  grid-column: 9/13;
  grid-row: 4;
}

/* other projects and experiments */
#header-other {
  position: relative;
  top: 0.5em;
  grid-column: 1/13;
  grid-row: 5;
}
#to-live-tracking {
  grid-column: 1/5;
  grid-row: 6;
}
#side-iconography {
  grid-column: 5/9;
  grid-row: 6;
}
#side-data-viz {
  grid-column: 9/13;
  grid-row: 6;
}


/* mobile layout =================================================================== */
@media (max-width: 640px) {

  /* project home grid placement rules */
  #personal-intro {
    grid-column: 1/7;
    grid-row: 1;
    margin: 3em 0 3em;
  }
  #header-best-work {
    position: relative;
    top: 0;
    grid-column: 1/7;
    grid-row: 2;
  }

  /* main projects */
  #kapow-v1 {
    grid-column: 1/7;
    grid-row: 3;
  }
  #zeta-lta {
    grid-column: 1/7;
    grid-row: 4;
  }

  #zeta-spotlight {
    grid-column: 1/7;
    grid-row: 5;
  }
  #kapow-tournaments {
    grid-column: 1/7;
    grid-row: 6;
  }
  #kapow-bolly-wars {
    grid-column: 1/7;
    grid-row: 7;
  }

  /* other projects and experiments */
  #header-other {
    position: relative;
    top: 0;
    grid-column: 1/7;
    grid-row: 8;
  }
  #to-live-tracking {
    grid-column: 1/7;
    grid-row: 9;
  }
  #side-iconography {
    grid-column: 1/7;
    grid-row: 10;
  }
  #side-data-viz {
    grid-column: 1/7;
    grid-row: 11;
  }
}
