/* kapow mvp grid placement rules======================================================================== */

/* section 1: audience */
#kapowmvp-audience {
  grid-column: 2/12;
  grid-row: 4;
}

/* section 2a: designing-initial */
#designing-kapow-initial {
  grid-column: 2/12;
  grid-row: 5;
}
/* section 2b: designing-IA */
#designing-kapow-taskflows {
  grid-column: 2/12;
  grid-row: 6;
}
#kapow-newgame-img {
  grid-column: 1/7;
  grid-row: 7;
}
#kapow-resumegame-img {
  grid-column: 7/13;
  grid-row: 7;
}
/* #kapow-mvp-IA-image {
  grid-column: 1/13;
  grid-row: 7;
} */

/* section 2c: designing-flows */
#designing-kapow-IAnav {
  grid-column: 2/12;
  grid-row: 8;
}
#final-wireframes {
  grid-column: 2/12;
  grid-row: 9;
}
#wireframes-img-01 {
  grid-column: 1/4;
  grid-row: 10;
}
#wireframes-img-02 {
  grid-column: 4/7;
  grid-row: 10;
}
#wireframes-img-03 {
  grid-column: 7/10;
  grid-row: 10;
}
#wireframes-img-04 {
  grid-column: 10/13;
  grid-row: 10;
}
/* #designing-kapow-flows-image-1 {
  grid-column: 1/13;
  grid-row: 8;
}
#designing-kapow-flows-image-2 {
  grid-column: 1/13;
  grid-row: 9;
} */

/* section 2d: designing-wireframes */
/* #designing-kapow-wireframes {
  grid-column: 2/12;
  grid-row: 10;
}
#designing-kapow-wireframes-image-1 {
  grid-column: 1/4;
  grid-row: 11;
}
#designing-kapow-wireframes-image-2 {
  grid-column: 4/7;
  grid-row: 11;
}
#designing-kapow-wireframes-image-3 {
  grid-column: 7/10;
  grid-row: 11;
}
#designing-kapow-wireframes-image-4 {
  grid-column: 10/13;
  grid-row: 11;
} */

/* section 2e: designing-branding */
#designing-kapow-branding {
  grid-column: 2/12;
  grid-row: 11;
}
#designing-kapow-branding-colour {
  grid-column: 1/13;
  grid-row: 12;
}
#designing-kapow-branding-typography {
  grid-column: 1/13;
  grid-row: 13;
}
#designing-kapow-branding-visuals {
  grid-column: 1/13;
  grid-row: 14;
}


/* section 2f: designing-VDs */
#designing-kapow-vd {
  grid-column: 2/12;
  grid-row: 15;
}

#designing-kapow-vd-image-1 {
  grid-column: 1/4;
  grid-row: 16;
}
#designing-kapow-vd-image-2 {
  grid-column: 4/7;
  grid-row: 16;
}
#designing-kapow-vd-image-3 {
  grid-column: 7/10;
  grid-row: 16;
}
#designing-kapow-vd-image-4 {
  grid-column: 10/13;
  grid-row: 16;
}
#designing-kapow-vd-fullflow {
  grid-column: 1/13;
  grid-row: 17;
}
/* #designing-kapow-vd-image-5 {
  grid-column: 5/9;
  grid-row: 18;
}
#designing-kapow-vd-image-6 {
  grid-column: 9/13;
  grid-row: 18;
}
#designing-kapow-vd-website {
  grid-column: 1/9;
  grid-row: 19;
}
#designing-kapow-vd-anim {
  grid-column: 9/13;
  grid-row: 19;
} */

#kapow-little-details {
  grid-column: 2/12;
  grid-row: 18;
}
#kapow-ld-bottomsheet {
  grid-column: 2/9;
  grid-row: 19;
}
#kapow-ld-splashanim {
  grid-column: 9/12;
  grid-row: 19;
}
#lta-details-desc {
  grid-column: 2/12;
  grid-row: 20;
}

/* future iterations */
#kapow-future-iterations {
  grid-column: 2/12;
  grid-row: 21;
}

/* team */
#kapow-team {
  grid-column: 2/12;
  grid-row: 22;
}


/* mobile layout =================================================================== */
@media (max-width: 640px) {
  /* lta grid placement rules======================================================================== */

  /* section 1: audience */
  #kapowmvp-audience {
    grid-column: 1/7;
    grid-row: 4;
  }

  /* section 2a: designing-initial */
  #designing-kapow-initial {
    grid-column: 1/7;
    grid-row: 5;
  }

  /* section 2b: designing-IA */
  #designing-kapow-taskflows {
    grid-column: 1/7;
    grid-row: 6;
  }
  #kapow-newgame-img {
    grid-column: 1/7;
    grid-row: 7;
  }
  #kapow-resumegame-img {
    grid-column: 1/7;
    grid-row: 8;
  }
  /* #kapow-mvp-IA-image {
    grid-column: 1/7;
    grid-row: 7;
  } */

  /* section 2c: designing-flows */
  #designing-kapow-IAnav {
    grid-column: 1/7;
    grid-row: 9;
  }
  #final-wireframes{
    grid-column: 1/7;
    grid-row: 10;
  }
  #wireframes-img-01 {
    grid-column: 1/4;
    grid-row: 11;
  }
  #wireframes-img-02 {
    grid-column: 4/7;
    grid-row: 11;
  }
  #wireframes-img-03 {
    grid-column: 1/4;
    grid-row: 12;
  }
  #wireframes-img-04 {
    grid-column: 4/7;
    grid-row: 12;
  }
  /* #designing-kapow-flows-image-1 {
    grid-column: 1/7;
    grid-row: 9;
  }
  #designing-kapow-flows-image-2 {
    grid-column: 1/7;
    grid-row: 10;
  } */

  /* section 2d: designing-wireframes */
  /* #designing-kapow-wireframes {
    grid-column: 1/7;
    grid-row: 11;
  }
  #designing-kapow-wireframes-image-1 {
    grid-column: 1/4;
    grid-row: 12;
  }
  #designing-kapow-wireframes-image-2 {
    grid-column: 4/7;
    grid-row: 12;
  }
  #designing-kapow-wireframes-image-3 {
    grid-column: 1/4;
    grid-row: 13;
  }
  #designing-kapow-wireframes-image-4 {
    grid-column: 4/7;
    grid-row: 13;
  } */

  /* section 2e:designing-branding  */
  #designing-kapow-branding {
    grid-column: 1/7;
    grid-row: 13;
  }
  #designing-kapow-branding-colour {
    grid-column: 1/7;
    grid-row: 14;
  }
  #designing-kapow-branding-typography {
    grid-column: 1/7;
    grid-row: 15;
  }
  #designing-kapow-branding-visuals {
    grid-column: 1/7;
    grid-row: 16;
  }

  /* section 2f: designing-VDs */
  #designing-kapow-vd {
    grid-column: 1/7;
    grid-row: 17;
  }

  #designing-kapow-vd-image-1 {
    grid-column: 1/4;
    grid-row: 18;
  }
  #designing-kapow-vd-image-2 {
    grid-column: 4/7;
    grid-row: 18;
  }
  #designing-kapow-vd-image-3 {
    grid-column: 1/4;
    grid-row: 19;
  }
  #designing-kapow-vd-image-4 {
    grid-column: 4/7;
    grid-row: 19;
  }
  #designing-kapow-vd-fullflow {
    grid-column: 1/7;
    grid-row: 20;
  }
  /* #designing-kapow-vd-image-5 {
    grid-column: 1/4;
    grid-row: 21;
  }
  #designing-kapow-vd-image-6 {
    grid-column: 4/7;
    grid-row: 21;
  }
  #designing-kapow-vd-website {
    grid-column: 1/7;
    grid-row: 22;
  }
  #designing-kapow-vd-anim {
    grid-column: 2/6;
    grid-row: 23;
  } */

  #kapow-little-details {
    grid-column: 1/7;
    grid-row: 21;
  }
  #kapow-ld-bottomsheet {
    grid-column: 1/7;
    grid-row: 22;
  }
  #kapow-ld-splashanim {
    grid-column: 2/6;
    grid-row: 23;
  }
  #lta-details-desc {
    grid-column: 1/7;
    grid-row: 24;
  }

  /* future iterations */
  #kapow-future-iterations {
    grid-column: 1/7;
    grid-row: 25;
  }

  /* team */
  #kapow-team {
    grid-column: 1/7;
    grid-row: 26;
  }
}
