.workex-details {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 2em;
}
.img-logo {
  width: auto;
  margin-right: 1.5em;
}
.workex-continued {
  margin-top: 1em;
}

/* about grid placement rules======================================================================== */
#about-personal-intro {
  grid-column: 1/13;
  grid-row: 1;
  margin: 7.5em 0 0;
}
#about-reading-list {
  grid-column: 1/7;
  grid-row: 2;
}
#about-likes {
  grid-column: 7/13;
  grid-row: 2;
}
#about-workex {
  grid-column: 1/13;
  grid-row: 3;
}
/* mobile layout */
@media (max-width: 640px) {
  .img-logo {
    margin-right: 1em;
  }
  #about-personal-intro {
    grid-column: 1/7;
    grid-row: 1;
    margin: 3em 0 1em;
  }
  #about-reading-list {
    grid-column: 1/7;
    grid-row: 2;
  }
  #about-likes {
    grid-column: 1/7;
    grid-row: 3;
  }
  #about-workex {
    grid-column: 1/7;
    grid-row: 4;
  }
}
